.toolbar-left{
    margin-left: 10px;
    width: 170px;
    box-shadow: rgb(42 52 69 / 10%) 0 4px 16px;
    height: 270px;
    padding: 20px 5px;
    border-radius: 5px;
    margin-top: 5px;    
}
.toolbar-left .header{
    text-align: center;
    background-color: #f0f3e7;
}

.toolbar-left label{
    padding: 15px;
    color: #00BF63;    
}
.list-toolbar{
    position: relative;
    list-style-type: none;
    padding:0; 
    margin:0;
}
.list-toolbar li{
    transition: 0.5;
    padding: 5px;
}
.list-toolbar li:hover{
    background-color:#f0f3e7;
    cursor: pointer;
}